.principal{
    width: 50%;
    margin: 0;
    padding: 0;
    display: grid;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr repeat(4,50px) ;
    grid-column-gap:10px;
    grid-row-gap:20px;
    border: 3px solid black;
}
.principal>*{
    padding: 20px;
}

.Mock1{
    grid-column: 1/-1;
    border: 3px solid black;
}
.pink1{
    background-color: #ffd6cc;
    grid-column: 1/1;
    grid-row: 2/3;
}
.blue1{
    background-color: dodgerblue;
    grid-column: 2/-1;
    grid-row: 2/3;
}
.pink2{
    background-color: #ffd6cc;
    grid-column: 2/1;
    grid-row: 3/3;
}
.blue2{
    background-color: dodgerblue;
    grid-column: 2/-1;
    grid-row: 3/3;
}
.pink3{
    background-color: #ffd6cc;
    grid-column: 2/1;
    grid-row: 4/4;
}
.blue3{
    background-color: dodgerblue;
    grid-column: 2/-1;
    grid-row: 4/4;
}
.yellow{
    background-color: yellow;
    grid-column: 1/-1;
    grid-row: 5/5;

}